.videoList {
  display: grid;
  padding-left: 0;
  margin: 0;
  flex: 1 1 20%;
}

.mainPage .videoList {
  grid-template-columns: repeat(2, 1fr);
}

.videoDetailPage .videoList {
  grid-template-columns: repeat(1, 1fr);
}

/* +++++++++++++++++ media query +++++++++++++++++ */
@media only screen and (max-width: 992px) {
  .videoList {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media only screen and (max-width: 768px) {
}
@media only screen and (max-width: 576px) {
}
