.videoDetailPage {
  background-color: #f9f9f9;
  display: flex;
  flex-direction: row;
}

.content {
  flex: 1 1 70%;
  padding: 1em 0.6em 1em 1em;
}

.list {
  flex: 1 1 30%;
  padding: 0.6em 0.6em 0.6em 0;
}

/* +++++++++++++++++ media query +++++++++++++++++ */
@media only screen and (max-width: 992px) {
  .videoDetailPage {
    flex-direction: column;
  }
}
@media only screen and (max-width: 768px) {
}
@media only screen and (max-width: 576px) {
}
