.video {
  list-style: none;
  display: flex;
  cursor: pointer;
  padding: 0.4em;
}

.video.list {
  padding-bottom: 0;
}

.grid {
  flex-direction: column;
}

.thumbnail {
  flex: 1 1 20%;
}

.thumbnailImg {
  width: 100%;
  min-width: 15rem;
}

.info {
  flex: 1 1 80%;
  padding-left: 0.4em;
  font-size: 1rem;
}

.title {
  margin: 0;
  color: black;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.channelTitle {
  margin: 0;
  color: rgb(110, 108, 108);
}
