.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2rem;
  padding: 0.4em;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  letter-spacing: -0.14rem;
}

.logo:hover {
  cursor: pointer;
}

.logoImg {
  width: 2rem;
  margin-right: 0.1em;
}

.icons {
  width: 4rem;
}
